Package: com.custom.mangounlock
Name: MangoUnlock
Version: 1.0.0
Architecture: iphoneos-arm64
Description: Mango full unlock and no popup
Maintainer: JudeGor1129
Author: JudeGor1129
Section: Tweaks
Depends: mobilesubstrate
